/*
    Fonts: 
    - Montserrat: 400, 500, 600
    - Prata: 400
*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Prata:wght@400&display=swap');

:root {
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --flashwhite-color: #f1f2f6;
    --white-color: #ffffff;
    --dark-color: #212121;

    --primary-font: 'Monstserrat', sans-serif;
    --second-font: 'Prata', serif;
    --fs14: 14px;
    --fw600: 600;

    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;

    --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    /* -webkit-tap-highlight-color: transparent; */
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {list-style: none;}
p {margin: 0 0 15px;}
input, textarea, select {font: inherit; width: 100%;}
input[type=checkbox], input[type=radio] {width: auto;}
input::placeholder, textarea::placeholder {color: inherit;}
button {font: inherit;}
strong {font-weight: var(--fw600);}

h1,h2, h3, h4 {
    font-family: var(--second-font);
    font-weight: 400;
    line-height: normal;
}
h1 {font-size: 2.75rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1rem;}

/* ------------------------ *
    #Reused Style
 * ------------------------ */

 .container {
    max-width: var(--mx-width, 1200);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
 }

 .item-floating {
    position: absolute;
    font-size: 10px;
    font-weight: var(--fw600);
    top: -8px;
    right: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
 }

/* ------------------------ *
    #Grouped Selector
 * ------------------------ */
 .item-floating .header-center .branding {
    display: flex;
    align-items: center;
    justify-content: center;
 }



 /* ------------------------ *
    HEADER
 * ------------------------ */
 .inner-header {
    line-height: 35px;
 }
 .inner-header .wrap :where(.wrap, .menu > ul),
 .list-inline > ul{
    display: flex;
    align-items: center;
 }
 .header-left, .header-right {
    flex-grow: 1;
 }

 .header-center nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    max-width: 720px;
 }

 .header-center .branding {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
 }

 .header-center .branding a {
    font-family: var(--second-font);
    font-size: 30px;
    line-height: inherit;
    pointer-events: auto;
 }

 .header-center .menu > ul > li > a{
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 15px;
 }

 .header-right ul {
    justify-content: flex-end;
 }

 .list-inline a,
 .menu-trigger {
    position: relative;
    font-size: 24px;
    padding: 0 10px;
    line-height: 1;
    display: flex;
    transition: var(--transition-color);
 }

 .list-inline a:hover {
    color: var(--light-color);
 }

 .header-left .list-inline {
    display: none;
 }

:where(.header-left, .header-right) li {
    display: flex;
    align-items: center;
    height: 80px;
}



 @media (min-width: 992px){
    .menu-trigger {
        display: none;
    }
    .header-center nav {
        display: grid;
    }
    .header-left .list-inline {
        display: block;
    }
 }